

    <span>{{ title }} app is running!</span>

    <div class="container">
      <div class="card" style="width: 18rem;">
        <img id="selected-img" src="{{imgSelected}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 id="selected-h2" class="card-title">{{nomSelected}}</h5>
          <p id="selected-desc" class="card-text">{{descSelected}}</p>
        </div>
      </div>

      <div class="List" style="display: flex;">
        <ul id="listAnimals" class="list-group list-group-horizontal">
          <li *ngFor="let item of animals" id="form-in-list" class="list-group-item">
            <img (click)="imageSelected(item)" src="{{item.img}}" alt="{{item.nom}}" height="100" display="flex">
          </li>
        </ul>
      </div>
    </div>
